<div class="container mt-4 mb-2">
    <section>
      <h2>We'd Love to Hear from You!</h2>
      <p> Thank you for choosing ShopNest as your trusted shopping destination. Your feedback is valuable to us. Whether you have a question, suggestion, or
        just want to say hello, we're here to help.</p>
    </section>
  
    <section>
      <h2>Contact Us</h2>
      <p>We value your feedback! If you have any questions, suggestions, or concerns, please feel free to contact us
       .Your input helps us improve and better serve your news needs.</p>
       <ul>
        <li>Email: <a href="mailto:shopnestsecurelogin@outlook.com">shopnestsecurelogin@outlook.com</a></li>
        <li>Phone: +91 123-4567-7890</li>
      </ul>
    </section>
  
  
  
   
  </div>