<div class="container mr-50 mt-3" style="margin-bottom: 78px;" >
    <div class="card text-bg-{{currentMode}} mb-3" style="max-width: 640px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="abc">

                <img src="{{product.imageUrl}}" alt="image">
            </div>
            </div>
           
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center">{{product.name}}</h5>
              <div class="card-text text-center">
                {{ product.unitPrice | currency : "INR" }}
              </div>
              <div class="text-center">
                <button (click)="addToCart()" class="btn btn-primary btn-sm mt-3">Add to cart</button>
              </div>
              <hr>
              <p class="card-text">{{product.description}}</p>
          <div class="text-center">
            <p class="card-text"><small class="text-center text-body-secondary">Stock Left : {{product.unitsInStock}}</small></p>
            <a [routerLink]="['/products']" routerLinkActive="router-link-active" class="mt-5">Back to Product List</a> 
          </div>
            </div>
          </div>
        </div>
      </div>
</div>
