.navbar-title {
  font-family: 'Roboto', sans-serif; /* Use your preferred font-family */
  font-weight: bold;
  font-size: 28px; /* Adjust the font size as needed */
  margin: 0; /* Remove any default margin to ensure it's centered */
  margin-left: 540px;
  padding: 0px 29px;
  font-size: xxx-large; 
  cursor: pointer;
}

.navbar-brand{
  margin-left: 400px;
}

.mode{
margin-left: 490px;
}

@media (max-width: 1403px) {
  .navbar-title{
    margin-left: 470px;
    padding: 0px 0px;
  }
  .mode{
    margin-left: 470px;
    }  

  }

@media (max-width: 1256px) {
  .navbar-title{
    margin-left: 430px;
    padding: 0px 0px;
  }
  .mode{
    margin-left: 430px;
    }  

  }

  @media (max-width: 1175px) {
    .navbar-title{
      margin-left: 400px;
      padding: 0px 0px;
    }
    .mode{
      margin-left: 360px;
      }  
  
    }

  @media (max-width: 1085px) {
    .navbar-title{
      margin-left: 340px;
      padding: 0px 0px;
    }
    .mode{
      margin-left: 280px;
      } 
    }

    @media (max-width: 941px) {
      .navbar-title{
        margin-left: 310px;
        padding: 0px 0px;
      }
      .mode{
        margin-left: 220px;
        } 
      }

      @media (max-width: 845px) {
        .navbar-title{
          margin-left: 237px;
          padding: 0px 0px;
        }
        .mode{
          margin-left: 145px;
          } 
        }

    @media (max-width: 698px) {
      .navbar-title{
        margin-left: 60px;
        padding: 0px 0px;
      }
      .mode{
        margin-left: 0px;
        }
     
      }


        @media (max-width: 573px) {
          .mode{
          margin-left: 0px;
          }
          }
    
@media (max-width: 500px) {
.navbar-title{
  margin-left: 0px;
  margin-left: 0px;
  padding: 0px 0px;
  margin-right: -30px;

}
.mode{
margin-left: 0px;
}
}


.example-spacer {
flex: 1 1 auto;
}



.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}