<!-- <footer>
    <div class="text-center mt-1 fixed-bottom bg-{{currentMode}} ">
    <p>&copy; 2024 <strong>Shop Nest</strong>. All rights reserved.</p>
      <p>Designed with ❤️ by <a href="https://github.com/nazim957" target="_blank">Mohd Nazim</a></p>
      </div>
      </footer> -->
    
    
      <footer>
        <div class="footer-content text-center mt-1  bg-{{currentMode}} ">
        <div>&copy; 2024 <strong>Shop Nest</strong>. All rights reserved.</div>
          <div>Designed with ❤️ by <a href="https://github.com/nazim957" target="_blank">Mohd Nazim</a></div>
          </div>
          </footer>