.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.about-section {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.about-section h1, .about-section h2 {
    text-align: center;
}
.about-section p {
    line-height: 1.6;
    margin: 20px 0;
}

header img {
    height: 50px;
    margin-left: 20px;
}